main {
  padding-top: 56px
}

a {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  color: #1D5D9B !important
}

.active {
  background-color: #1D5D9B;
  color: #fff !important;
}

aside {
  width: 250px;
  min-width: 250px;
}

aside li {
  cursor: pointer;
}

aside a {
  width: 100%;
  padding: 5px 10px;
}

.card {
  height: 100%;
}


.card img {
  height: 150px;
  object-fit: cover
}

.card a {
  color: #fff !important;
}